bin/
obj/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.pdb

node_modules/
build/
dist/
coverage/
.eslintcache
*-debug.log*
*-error.log*

.env
.env.*
!.env.example

dotnet-install.sh
dotnet-sdk-*.tar.gz
*.tar.gz
appsettings.Development.json